<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>

		<link href="/gallery/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/gallery/stylesheets/style.css" rel="stylesheet">
		<link href="/gallery/stylesheets/slc.css" rel="stylesheet">
		{{{block "pageStyles"}}}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<div class="wrapper-top"></div>
			<div class="wrapper-body">
				<div class="container">
					<div class="header">
						<h1>
							<a href="http://sweetlaurencakes.com/" class="big-logo no-underline">Sweet Lauren Cakes</a>
						</h1>
						<div class="nav">
							<ul>
								<li><a href="http://sweetlaurencakes.com/">Home</a></li>
								<li><a href="http://sweetlaurencakes.com/gallery">Gallery</a></li>
								<li><a href="http://shop.sweetlaurencakes.com/">Shop</a></li>
								<li><a href="http://sweetlaurencakes.com/contact">Contact Us</a></li>
								<li><a href="http://sweetlaurencakes.com/about">Our Story</a></li>
								<li><a href="http://sweetlaurencakes.com/blog">Blog</a></li>
							</ul>
						</div>
						<hr class="decorative">
						<h3>Cake Pops and Cakes from San Francisco, California</h3>
					</div>
				</div>
				{{{body}}}
			</div>
			<div class="wrapper-bottom">
				<div class="nav">
					<ul>
						<li><a href="http://sweetlaurencakes.com/">Home</a></li>
						<li><a href="http://sweetlaurencakes.com/gallery">Gallery</a></li>
						<li><a href="http://shop.sweetlaurencakes.com/">Shop</a></li>
						<li><a href="http://sweetlaurencakes.com/contact">Contact Us</a></li>
						<li><a href="http://sweetlaurencakes.com/about">Our Story</a></li>
						<li><a href="http://sweetlaurencakes.com/blog">Blog</a></li>
					</ul>
				</div>
				<div class="copyright">All Content © 2009 - Today, Sweet Lauren Cakes</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/gallery/bootstrap/js/bootstrap.min.js"></script>
		{{{block "pageScripts"}}}
	</body>
</html>