<div class="container">
	<div id="mainCarousel" class="carousel slide main-carousel" data-ride="carousel">
		<div class="carousel-inner">
			{{#each photosets}}
			<div class="item main-carousel-item{{#unless @index}} active{{/unless}}" style="background-image:url('{{images.large.url}}')"></div>
			{{/each}}
		</div>
	</div>
	
	<div class="row">
	{{#each photosets}}
	{{#if @index}}{{#unless (mod @index 3)}}
	</div>
	<div class="row">
	{{/unless}}{{/if}}
		<div class="col-sm-4">
			<div class="gallery-set">
				<a href="/{{id}}" class="no-underline block">
					<span class="gallery-set-image" style="background-image:url('{{images.medium.url}}')"></span>
					<h2>{{title}}</h2>
				</a>
			</div>
		</div>
	{{/each}}
	</div>
</div>