<div class="container">
	<div class="row">
	{{#each photos}}
		<div class="col-xs-4 col-sm-3 col-md-2">
			<a class="lightbox" data-lightbox-src="{{sizes.biggest.url}}" href="https://flickr.com/photos/sweetlaurencakes/{{id}}/in/set-{{../id}}">
				<img class="gallery-image" src="{{sizes.square.url}}"/>
			</a>
		</div>
	{{/each}}
	</div>
</div>

{{#contentFor "pageScripts"}}
<script type="text/javascript" src="http://assets.sweetlaurencakes.com/gallery/javascripts/lightbox.js"></script>
<!-- <script type="text/javascript" src="/javascripts/lightbox.js"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
		var overlayOn = function()
			{
				$( '<div id="lightbox-overlay"></div>' ).appendTo( 'body' );
			},
			overlayOff = function()
			{
				$( '#lightbox-overlay' ).remove();
			};

		$(".lightbox").imageLightbox(
		{
			onStart: 	 function() { overlayOn(); },
			onEnd:	 	 function() { overlayOff(); }
		});
	});
</script>
{{/contentFor}}