<div class="container">
	<div class="row">
	{{#each photos}}
		<div class="col-xs-4 col-sm-3 col-md-2">
			<a class="fancybox" data-fancybox-group="gallery" href="{{sizes.biggest.url}}">
				<img class="gallery-image" src="{{sizes.square.url}}"/>
			</a>
		</div>
	{{/each}}
	</div>
</div>

{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="http://assets.sweetlaurencakes.com/gallery/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript" src="http://assets.sweetlaurencakes.com/gallery/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
{{/contentFor}}