<div class="container">
	<div class="row">
	{{#each photos}}
		<div class="col-xs-4 col-sm-3 col-md-2">
			<a class="fancybox" data-fancybox-group="gallery" href="{{sizes.biggest.url}}">
				<img class="gallery-image" src="{{sizes.square.url}}"/>
			</a>
		</div>
	{{/each}}
	</div>
</div>

{{#contentFor "pageScripts"}}
<script type="text/javascript" src="http://assets.sweetlaurencakes.com/gallery/javascripts/lightbox.js"></script>
<!-- <script type="text/javascript" src="/javascripts/lightbox.js"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").imageLightbox();
	});
</script>
{{/contentFor}}